*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Dev configs
.mr.developer.cfg
hipchat.cfg

# You may well have an access_token.py file in your oauth_util dir.
# That file is *not* to be checked in!  It has sekrets in it.
access_token.py
secrets.py

# Developer constants for convenience for testing with local
# or non-production instances of the main webserver
dev_consts.py

# Common developer tools
.project
.pydevproject
