*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Dev configs
.mr.developer.cfg
hipchat.cfg
cfg/*test.json

# You may well have an access_token.py file in your oauth_util dir.
# That file is *not* to be checked in!  It has sekrets in it.
access_token.py
secrets.py
# API access for Google Analytics dashboard.
ga_client_secrets.json
ga_client_privatekey.p12
# API access for Google BigQuery.
client_secrets.json

# Developer constants for convenience for testing with local
# or non-production instances of the main webserver
dev_consts.py

# File that permissions individual email accounts (e.g., for board members) to access the dashboards
auth_whitelist.py

# Common developer tools
.project
.pydevproject

# GeoIP Database
GeoLiteCity.dat
GeoLiteCity.dat.gz

# Auto generated geolocation csv files
geo/
