Flask==0.8
oauth2==1.5.211
pymongo==2.3

# For interacting with AWS via Python
boto==2.9.9

# numerical and machine learning python packages
numpy==1.6.2
scipy==0.10.1
scikit-learn==0.12

# for making numpy work with multithreading
affinity==0.1.0

# Required by lint checking
pep8==1.0.1
pyflakes==0.5.0
python-gflags==2.0

# For deployment
configobj==4.7.2
hipchat==0.0.1

# For gae_dashboard scripts
GChartWrapper==0.9
lxml==2.3.6
