<!DOCTYPE html>
<html>
<!--
A dashboard of App Engine's billing history reports.
-->

<head>
<link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/jquery/flick/jquery-ui-1.8.20.custom.css">
<style type="text/css">
.growth-summary form,
.growth-summary form label,
.growth-summary form input {
    /* Override bootstrap.css's too-aggressive stylings of label and input. */
    display: inline;
}
.growth-summary form label {
    cursor: pointer;
}
</style>
</head>

<body>

{% include 'navbar.html' %}

<div class="growth-summary" style="width:800px; margin: 40px auto;">
    <form id="option-picker">
        <h2>App Engine Billing History for
            <select name="resource">{% for name in resources %}
                <option value="{{name}}" {%if resource_name == name %}selected{% endif %}>{{name}}</option>{% endfor %}
            </select>
        </h2>
        Each data point is
        <label><input type="radio" name="group_dt_by" value="day" {%if group_dt_by == "day" %}checked{% endif %}> a day</label>
        <label><input type="radio" name="group_dt_by" value="week" {%if group_dt_by== "week" %}checked{% endif %}> a week</label>
    </form>
    <div id='chart_div' style='width: 700px; height: 740px;'></div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/third_party/jquery-ui-1.8.20.custom.min.js"></script>
<script src="/static/js/third_party/underscore-min.js"></script>
<script src="/static/js/third_party/bootstrap-dropdown.js"></script>

<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>
    $('#option-picker').change(function() {
        $(this).submit();
    });
    google.load('visualization', '1', {'packages':['annotatedtimeline']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', '{{resource_name}} ({{resource_unit}})');
        data.addRows([
{% for js_date, record in date_record_pairs %}
            [new {{js_date}}, {{record['amount_of_resource_used']}}],{% endfor %}
        ]);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {displayAnnotations: true});
    }
</script>

</body>
</html>
