<!DOCTYPE html>
<html>
<!-- A dashboard showing one or more time series.  -->

<head>
<title>{{title}}</title>
<link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/jquery/flick/jquery-ui-1.8.20.custom.css">
<style type="text/css">
.growth-summary form,
.growth-summary form label,
.growth-summary form input {
    /* Override bootstrap.css's too-aggressive stylings of label and input. */
    display: inline;
    margin-right: 5px;
}
.growth-summary form label {
    cursor: pointer;
}
</style>
</head>

<body>

{% include 'navbar.html' %}

<div class="growth-summary" style="width:800px; margin: 40px auto;">
    <h2>{{title}}</h2>
    <form id="field-selector">
{% for key, label in metrics %}
        <label><input type="radio" name="field" value="{{key}}" {% if key == selected_metric %}checked{% endif %}>{{label}}</label>{% endfor %}
    </form>
    <div id='chart_div' style='width: 700px; height: 740px;'></div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/third_party/jquery-ui-1.8.20.custom.min.js"></script>
<script src="/static/js/third_party/underscore-min.js"></script>
<script src="/static/js/third_party/bootstrap-dropdown.js"></script>

<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>
{# TODO(chris): encapsulate this pattern of annotated timeline and
   varying fields as a JS widget. #}
google.load('visualization', '1', {'packages':['annotatedtimeline']});

(function() {
    var data = null,
        view = null,
        chart = null;

    // Match the displayed column to the currently selected field.
    function showSelectedField() {
        var columnId = $('#field-selector :checked').val(),
            numColumns = data.getNumberOfColumns(),
            columnIndexToShow = 0,
            i;

        for (i = 1; i < numColumns; i++) {
            if (data.getColumnId(i) === columnId) {
                columnIndexToShow = i;
                break;
            }
        }

        view.setColumns([0, columnIndexToShow]);
        chart.draw(view, {displayAnnotations: true});
    }

    // Assign data and chart object after charting dependencies load.
    function drawChart() {
        data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
{% for key, label in metrics %}
data.addColumn('number', '{{label}}', '{{key}}');{% endfor %}
        data.addRows([
{% for js_date, record in date_record_pairs %}
[new {{js_date}}, {% for key, _ in metrics %}{{record[key]}},{% endfor %}],{% endfor %}
        ]);

        view = new google.visualization.DataView(data);
        chart = new google.visualization.AnnotatedTimeLine($('#chart_div').get(0));

        $('#field-selector').change(function(e) { showSelectedField(); });
        showSelectedField();
    }

    google.setOnLoadCallback(drawChart);
})();
</script>

</body>
</html>
