<!DOCTYPE html>
<html>
<!--
A simple dashboard monthly timeseries corresponding to the company growth goals 
for Q3 2012
-->

<head>
<link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
<link rel="stylesheet" type="text/css" href="static/css/third_party/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/css/third_party/jquery/flick/jquery-ui-1.8.20.custom.css">
</head>

<body>

<div class="goal-summary" style="width:800px; margin: 40px auto;">
    <h2>Q3 2012 Growth Goals Dashboard</h2>
    <div id="goal-summary-graph-container">
    </div>
    <h3>Goal Definitions</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <th>Focus</th>
            <th>Goal</th>
        </thead>
        <tr>
            
            <td><font color=gray>Awareness</font></td>
            <td><font color=gray>
                6M unique visitors in September. (Progress on this goal must be  
                monitored through Google Analytics-- it is not covered by 
                this page.)
            </font></td>
        </tr>
        <tr>
            <td>Registrations</td>
            <td>400,000 new user registrations in September.
            </td>
        </tr>
        <tr>
            <td>Long-term users.</td>
            <td>300,000 users who performed an activity in September that was 
                at least 30 days after their registration date.
            </td>
        </tr>
        <tr>
            <td>Engagement</td>
            <td>150,000 users who performed an activity on four or more days
                in September.
            </td>
        </tr>
    </table>
    <font color=gray>
    Note:  For the 3rd and 4th goals, an "activity" is currently defined as  
    any of the following: starting a video, attempting a problem, or posting a 
    comment, question or answer.  This definition will change over time to 
    include more diverse activities, but will not change for the calculation
    of Q3 goal performance.
    </font>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="static/js/third_party/underscore-min.js"></script>
<script src="static/js/third_party/highcharts.js"></script>
<script src="static/js/company-goals.js"></script>

</body>
</html>


