<!DOCTYPE html>
<html>
<!--
A simple dashboard monthly timeseries corresponding to the company growth goals.
-->

<head>
<link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
<link rel="stylesheet" type="text/css" href="static/css/third_party/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/css/third_party/jquery/flick/jquery-ui-1.8.20.custom.css">
</head>

<body>

{% include 'navbar.html' %}

<div class="goal-summary" style="width:800px; margin: 40px auto;">
    <h2>Company Growth Metrics</h2>
    Updated nightly, so the current month will look low until it becomes a previous month, like the rest.
    <div id="goal-summary-graph-container">
    </div>
    <h3>Metric Goals</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <th>Metric</th>
            <th>Sept 2012</th>
            <th>Dec 2012</th>
            <th>Apr 2013</th>
            <th>Sept 2013</th>
        </thead>
        <tr>
            <td>Registrations</td>
            <td>514K</td>
            <td>209K</td>
            <td>369K</td>
            <td>1000K a.k.a. 1M</td>
        </tr>
        <tr>
            <td>Long-Term Users</td>
            <td>228K</td>
            <td>332K</td>
            <td>TBD</td>
            <td>500K</td>
        </tr>
        <tr>
            <td>Highly-Engaged Users</td>
            <td>158K</td>
            <td>132K</td>
            <td>TBD</td>
            <td>250K</td>
        </tr>
    </table>
    <h3>Metric Definitions</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <th>Metric</th>
            <th>Definition</th>
        </thead>
        <tr>
            <td>Registrations</td>
            <td>The number of users who registered in this month.
            </td>
        </tr>
        <tr>
            <td>Long-Term Users</td>
            <td>The number of long-term users who completed an activity during
                this month.  A long-term user is one who has completed an activity
                at least 28 days after registering.
            </td>
        </tr>
        <tr>
            <td>Highly-Engaged Users</td>
            <td>The number of users who completed an activity on >=4 distinct
                days within this month.
            </td>
        </tr>
    </table>
    <font color=gray>
    Note that an "activity" is currently defined as
    any of the following: starting a video, attempting a problem, or posting a
    comment, question or answer.  This definition will change over time to
    include more diverse activities.
    </font>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="static/js/third_party/underscore-min.js"></script>
<script src="static/js/third_party/highcharts.js"></script>
<script src="static/js/third_party/bootstrap-dropdown.js"></script>

<script src="static/js/company-goals.js"></script>

</body>
</html>


