<!DOCTYPE html>
<html>
<!--
A simple dashboard showing aggregate video data for a particular day.
-->

<head>
<link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
<link rel="stylesheet" type="text/css" href="static/css/third_party/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/css/third_party/jquery/flick/jquery-ui-1.8.20.custom.css">
</head>

<body>

{% include 'navbar.html' %}

<!-- TODO(benkomalo): stop with this inline CSS silliness and use a real file -->
<div class="engagement-summary" style="width:800px; margin: 40px auto;">
    <h2>Video Engagement Summary (registered users)</h2>

    <div class="input-variables" style="margin: 10px 0;">
        Range type: <select id="engagement-summary-type">
                    <option value="week" selected>Week</option>
                    <option value="month">Month</option>
                    </select>
        {# TODO(benkomalo): put in a datepicker instead of just the last 4 ranges #}
        {# Date: <input title="Datestamp" id="engagement-summary-date" size="20"></input> #}
    </div>
    <div id="engagement-summary-graph-container">
    </div>
    <div id="engagement-summary-table-container">
        {# This shows a chart of the video usage distribution for users
           across various date buckets. Rendered by JS.
         #}
    </div>
</div>

<div class="individual-video-summary" style="width:800px; margin: 40px auto;">
    <h2>Top Daily Video Activity By Individual Videos</h2>
    <div class="input-variables" style="margin: 10px 0;">
        Date: <input title="Datestamp" id="daily-video-date" size="20"></input>
        User Category: <select id="user-category">
                       <option value="all" selected>All</option>
                       <option value="registered">Registered</option>
                       <option value="phantom">Phantom</option>
                       </select>
    </div>
    <div id="individual-video-summary-container">
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="static/js/third_party/jquery-ui-1.8.20.custom.min.js"></script>
<script src="static/js/third_party/underscore-min.js"></script>
<script src="static/js/third_party/handlebars.js"></script>
<script src="static/js/third_party/highcharts.js"></script>
<script src="static/js/third_party/backbone-min.js"></script>
<script src="static/js/third_party/bootstrap-dropdown.js"></script>
<script src="static/js/handlebars-helpers.js"></script>
<script src="static/js/ajax-cache.js"></script>
<script src="static/js/daily-video-stats.js"></script>

{% raw %}
<script type="text/x-handlebars-template" id="video-table">
<table class="table table-bordered table-striped">
    <thead>
        <th>Video</th>
        <th>Users watched</th>
        <th>Users completed</th>
        <th>% completed</th>
        <th>Hours Watched</th>
    </thead>
</table>
</script>
<script type="text/x-handlebars-template" id="video-row-template">
<tr>
    <td>{{{link}}}</td>
    <td>{{commafy watched}}</td>
    <td>{{commafy completed}}</td>
    <td>{{percentify percent_completed}}</td>
    <td>{{hours_watched}}</td>
</tr>
</script>
{% endraw %}

</body>
</html>


