<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/bootstrap.css">

<style>
section {
    margin: 80px 0;
}

section .row {
    margin-bottom: 24px;
}
</style>
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
    <section>
        <div class="page-header">
            <h1>Internal Analytics <small>a mishmash of content, engagement, retention & learning data</small</h1>
        </div>
        <div class="row">
            <span class="span6">
                <h3><a href="/goals">
                    Company Growth Goals
                </a></h3>
                Monthly time series of registrations, long-term users, and highly-engaged users, which 
                correspond to our 
                <a href="https://docs.google.com/a/khanacademy.org/document/d/12sxBJ8huMCezMRFtuLPDb8J24-G9L3taoZkJ65DVJk4/edit#bookmark=id.yrxikiw2sih7">
                    company-level growth goals.
                </a>
                <div>
                    <a href="/goals">
                        <img src="/static/img/preview-goals.png">
                    </a>
                </div>
            </span>

            <span class="span6">
                <h3><a href="/growth">
                    User Growth
                </a></h3>
                Tracks and gains and losses in active user accounts.
                <div>
                    <a href="/growth">
                        <img src="/static/img/preview-growth.png">
                    </a>
                </div>
            </span>

        </div>

        <div class="row">
            <span class="span6">
                <h3><a href="/exercises">Daily Exercises</a></h3>
                Time series graphs on exercises activity
                <div>
                    <a href="/exercises">
                        <img src="/static/img/preview-dailyex.png">
                    </a>
                </div>
            </span>
            <span class="span6">
                <h3><a href="/top-videos">Top Videos</a></h3>
                A summary of videos watched on a given period
                <div>
                    <a href="/top-videos">
                        <img src="/static/img/preview-videos.png">
                    </a>
                </div>
            </span>
        </div>

        <div class="row">
            <span class="span6">
                <h3><a href="/learning">Learning in Exercises</a></h3>
                Learning efficiency and retention over time
                <div>
                    <a href="/learning">
                        <img src="/static/img/preview-learningdash.png">
                    </a>
                </div>
            </span>

            <span class="span6">
                <h3><a href="http://www.khanacademy.org/gae_bingo">GAE/Bingo</a></h3>
                A/B Test Experiment Results
                <div>
                    <a href="http://www.khanacademy.org/gae_bingo/dashboard">
                        <img src="/static/img/preview-gaebingo.png">
                    </a>
                </div>
            </span>
        </div>

        <div class="row">
            <span class="span6">
                <h3><a href="/real-time">Real-time exercise attempts</a></h3>
                Real-time display of problems done each second with
                location of user.
                <div>
                    <a href="/real-time">
                        <img src="/static/img/preview-real-time.png">
                    </a>
                </div>
            </span>

            <span class="span6">
                <h3><a href="/exercise-summary">Exercise Difficulty</a></h3>
                <p>Data about exercises difficulty</p>
                <div>
                    <a href="/exercise-summary">
                        <img src="/static/img/preview-exercise-summary.png">
                    </a>
                </div>
            </span>
        </div>

        <div class="row">
            <span class="span6">
                <h3><a href="/teachers-students">Teachers and Students Growth</a></h3>
                <p>Trends in number of teachers and students using khan academy with
                    map locating all the teachers.</p>
                <div>
                    <a href="/teachers-students">
                        <img src="/static/img/preview-teachers-students.png">
                    </a>
                </div>
            </span>

            <span class="span6">
                <h3><a href="/badges">Badges</a></h3>
                <p>Statistics about awarded badges</p>
                <div>
                    <a href="/badges">
                        <img src="/static/img/preview-badges.png">
                    </a>
                </div>
            </span>
        </div>

        <div class="row">
            <span class="span6">
                <h3><a href="/cover-graph">Covers Graph Explorer</a></h3>
                <p>Searchable visualization of covers graph.</p>
                <div>
                    <a href="/cover-graph">
                        <img src="/static/img/preview-cover-graph.png">
                    </a>
                </div>
            </span>
        </div>


    </section>

    <section>
        <div class="page-header">
            <h1>Performance Stats <small>performance of AppEngine and our website</small</h1>
        </div>
        <div class="row">
            <span class="span6">
                <h3><a href="/gae_stats/daily_request_log_url_stats">Top URLs by Count</a></h3>
                <img src="/static/img/appengine.png">
                <!-- TODO(chris): generate a preview image -->
                Performance metrics for the most accessed URLs.
            </span>
            <span class="span6">
                <h3><a href="/gae_stats/url_stats">Stats for One URL</a></h3>
                <img src="/static/img/appengine.png">
                <!-- TODO(chris): generate a preview image -->
                Performance metrics over time for each URL.
            </span>
        </div>
        <div class="row">
            <span class="span6">
                <h3><a href="/gae_stats/daily_request_log_urlroute_stats">Top URL Routes by Count</a></h3>
                <img src="/static/img/appengine.png">
                <!-- TODO(chris): generate a preview image -->
                Performance metrics for the most accessed Flask and webapp2 routes.
            </span>
            <span class="span6">
                <h3><a href="/gae_stats/urlroute_stats">Stats for One URL Route</a></h3>
                <img src="/static/img/appengine.png">
                <!-- TODO(chris): generate a preview image -->
                Performance metrics over time for each URL route.
            </span>
        </div>
        <div class="row">
            <span class="span6">
                <h3><a href="/gae_stats/dashboard_charts">Dashboard Charts</a></h3>
                <img src="/static/img/appengine.png">
                <!-- TODO(chris): generate a preview image -->
                Replication (with history) of the charts on App
                Engine's dashboard.
            </span>
            <span class="span6">
                <h3><a href="/gae_stats/memcache">Memcache</a></h3>
                <img src="/static/img/appengine.png">
                <!-- TODO(chris): generate a preview image -->
                Statistics over time for App Engine's memcache.
            </span>
        </div>
        <div class="row">
            <span class="span6">
                <h3><a href="/gae_stats/billing_history">Billing History</a></h3>
                <img src="/static/img/appengine.png">
                <!-- TODO(chris): generate a preview image -->
                Daily usage reports used for billing by App Engine.
            </span>
        </div>
        <div class="row">
            <span class="span6">
                <h3><a href="/gae_stats/instances">Instances</a></h3>
                <img src="/static/img/appengine.png">
                <!-- TODO(chris): generate a preview image -->
                Summary data over time for App Engine's instance usage.
            </span>
            <span class="span6">
                <h3><a href="/is-ka-fast-yet">Is KA Fast Yet?</a></h3>
                <img src="/static/img/appengine.png">
                <!-- TODO(chris): generate a preview image -->
                Key performance metrics for speeding up the homepage.
            </span>
        </div>
    </section>

    <section>
        <div class="page-header">
            <h1>External Analytics <small>sometimes we need help</small></h1>
        </div>
        <div class="row">
            <span class="span6">
                <h3><a href="https://www.google.com/analytics/web/?pli=1#report/visitors-overview/a6742635w12978934p13634188/">Google Analytics</a></h3>
                <img src="/static/img/google-analytics.png">
                Various client side reports using the Google Analytics JS API (user counts, page flows, etc).
            </span>
            <span class="span6">
                <h3><a href="https://developers.facebook.com/apps/160249463991765/insights">Facebook Insights</a></h3>
                <img src="/static/img/fbinsights.png">
                Facebook provided metrics on demographics and shares/CTR/exposure to Facebook users.
            </span>
        </div>
        <div class="row">
        TODO(benkomalo): get mixpanel in here?
        </div>

    <section>
        <div class="page-header">
            <h1>Production <small>hopefully you don't have to be here</small</h1>
        </div>
        <div class="row">
            <span class="span6">
                <h3><a href="https://appengine.google.com/dashboard?&app_id=s~khan-academy">KA AppEngine</a></h3>
                <img src="/static/img/appengine.png">
                Khan Academy App on GAE
            </span>
            <span class="span6">
                <h3><a href="http://code.google.com/status/appengine">AppEngine Global</a></h3>
                <img src="/static/img/appengine.png">
                General AppEngine Health
            </span>
        </div>
        <div class="row">
            <span class="span6">
                <h3><a href="http://www.khanacademy.org/dashboard">Entity Dashboard</a></h3>
                Raw daily counts of Entities being created on production.
            </span>
            <span class="span6">
                <h3><a href="https://console.aws.amazon.com/console/home">AWS Console</a></h3>
                <img src="/static/img/aws.png">
                Amazon Web Services
            </span>
        </div>
    </section>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/third_party/bootstrap-dropdown.js"></script>

</body>
</html>
