<!DOCTYPE html>
<html>
<!-- Overview of key performance metrics for speeding up the homepage in Q1 2014. -->
<head>
<title>Is KA Fast Yet?</title>
<link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/jquery/flick/jquery-ui-1.8.20.custom.css">
<style type="text/css">
.perf-summary form,
.perf-summary form label,
.perf-summary form input {
    /* Override bootstrap.css's too-aggressive stylings of label and input. */
    display: inline;
}
.perf-summary form label {
    cursor: pointer;
}
</style>
</head>

<body>

{% include 'navbar.html' %}

<div class="perf-summary" style="width:900px; margin:40px auto;">
    <h2>Is KA Fast Yet?</h2>
    <div id="chart-div" style="width:900px; height:500px;"></div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/third_party/jquery-ui-1.8.20.custom.min.js"></script>
<script src="/static/js/third_party/underscore-min.js"></script>
<script src="/static/js/third_party/bootstrap-dropdown.js"></script>

<!-- Load the Client Library. Use the onload parameter to specify a callback function -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>window.bootstrapData = JSON.parse('{{jsonStr|safe}}');</script>
<script>
(function() {

// Convert GA analytics date to JS date: 20140101 -> new Date(2014, 0, 1)
var analyticsApiDateRegexp = /^(\d\d\d\d)(\d\d)(\d\d)$/;
function parseAnalyticsApiDate(dt) {
    match = analyticsApiDateRegexp.exec(dt);
    if (match) {
        return new Date(Number(match[1]),
                        Number(match[2]) - 1,  // Date wants months 0-11
                        Number(match[3]));
    } else {
        console.error(dt + " doesn't match " + analyticsApiDateRegexp);
        return null;
    }
}

// Format a data point (with count of samples).
function formatDataPoint(value, numSamples) {
    return Number(value).toFixed(3) + "s (" + numSamples + " samples)";
}

/**
 * For more readable code, take an array returned by Google Analytics
 * and turn it into a hash, e.g.,
 *
 * For example:
 *   asNamedRow([{name:"ga:date", ...}, {name:"ga:visitorType", ...}],
 *              [["20140101", "New Visitor"]]);
 * Would return:
 *   {"ga:date": "20140101", "ga:visitorType": "New Visitor"}
 *
 *
 * Arguments:
 *   columnHeaders - Array. Column headers from the GA JSON response.
 *     The length should match the length of the resultsRow.
 *   resultsRow - Array. A row of data from the GA JSON response.
 */
function asNamedRow(columnHeaders, resultsRow) {
    var ret = {};
    for (var i = 0; i < columnHeaders.length; i++) {
        ret[columnHeaders[i]["name"]] = resultsRow[i];
    }
    return ret;
}

/**
 * Merge one row of averaged data into another.
 *
 * Arguments:
 *   namedRow1 - Object. Row of data returned by asNamedRow. Data from
 *     namedRow2 is merged into this object.
 *   namedRow2 - Object. Row of data returned by asNamedRow.
 *   metric - String. Metric name to merge, e.g., avgServerResponseTime.
 *   sample - String. Sample name for metric, e.g., speedMetricsSample.
 */
function mergeAvgMetric(namedRow1, namedRow2, metric, sample) {
    var total1 = Number(namedRow1[metric]) * Number(namedRow1[sample]);
    var total2 = Number(namedRow2[metric]) * Number(namedRow2[sample]);
    var numSamples = Number(namedRow1[sample]) + Number(namedRow2[sample]);
    namedRow1[metric] = String((total1 + total2) / numSamples);
    namedRow1[sample] = String(numSamples);
}

/**
 * Segment a Google Analytics API JSON response on KA user type.
 *
 * KA user data can be segmented into "Logged In", "New", and
 * "Phantom" types. This function merges the data from "New" and
 * "Phantom" to represent the segment of non-logged-in users.
 *
 * Arguments:
 *   results - Object. Result of a Google Analytics API call.
 *
 * Returns:
 *   An object whose keys are dates and whose values are objects with
 *   two keys, "loggedIn" and "loggedOut", whose associated values are
 *   rows in the format returned by asNamedRow, e.g.,
 *     {"20140101" -> {loggedIn: {...}, loggedOut: {...}}}
 */
function segmentResults(results) {
    if (!results || !results.rows) {
        return {};
    }
    var mergedResults = {};
    for (var i = 0; i < results.rows.length; i++) {
        var row = asNamedRow(results.columnHeaders, results.rows[i]);
        var dateEntry = mergedResults[row["ga:date"]];
        if (!dateEntry) {
            dateEntry = mergedResults[row["ga:date"]] = {};
        }
        // customVarValue1 will be one of "Logged In", "New", or "Phantom".
        if (row["ga:customVarValue1"] == "Logged In") {
            dateEntry["loggedIn"] = row;
        } else if (!dateEntry["loggedOut"]) {
            dateEntry["loggedOut"] = row;
        } else {
            // Visits to the logged-out homepage consist of "New" plus
            // "Phantom" visits which we merge by re-averaging using
            // the sample count.
            mergeAvgMetric(
                dateEntry["loggedOut"], row,
                "ga:avgDomContentLoadedTime", "ga:domLatencyMetricsSample");
        }
    }
    return mergedResults;
}

// Called once the visualization package JS is loaded, this renders
// window.bootstrapData into the chart of DOM Content Loaded metrics.
function drawChart() {
    var segmentedData = segmentResults(window.bootstrapData);
    var rows = [];
    function metricField(row, metric, sample) {
        if (row === undefined) {
            return null;
        }
        return {v: Number(row[metric]),
                f: formatDataPoint(row[metric], row[sample])};
    }

    for (var date in segmentedData) {
        if (segmentedData.hasOwnProperty(date)) {
            rows.push({c: [{v: parseAnalyticsApiDate(date)},
                           metricField(segmentedData[date]["loggedIn"],
                                       "ga:avgDomContentLoadedTime",
                                       "ga:domLatencyMetricsSample"),
                           metricField(segmentedData[date]["loggedOut"],
                                       "ga:avgDomContentLoadedTime",
                                       "ga:domLatencyMetricsSample"),
                           // Threshold series.
                           {v: 0.5, f: ""}]});
        }
    }

    var dataTable = new google.visualization.DataTable({
        cols: [{label: "Date", type: "date"},
               {label: "Logged In", type: "number"},
               {label: "Logged Out", type: "number"},
               {label: "500ms", type: "number"}
              ],
        rows: rows
    });

    var options = {
        title: 'Timing Metrics for "/" on khanacademy.org',
        legend: {position: "top"},
        focusTarget: "category",
        vAxis: {"title": "Avg. DOMContentLoaded (seconds)"},
        series: [
            {color: "#89b908"},  // KA green
            {color: "#8e4c9b"},  // KA purple
            {enableInteractivity: false,
             pointSize: 0,
             lineWidth: 4,
             color: "#3b8fa3"  // KA math blue
            }
        ]
    };

    var chart = new google.visualization.LineChart(
        document.getElementById("chart-div"));
    chart.draw(dataTable, options);
}

google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);

})();
</script>
</body>
</html>
