<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">KA Dashboards</a>
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Growth <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/goals">Q3 Company Growth Goals</a></li>
          <li><a href="/growth">Active User Flows</a></li>
          <li><a href="/teachers-students">Teachers and Students Growth</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usage <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/exercises">Daily Exercises</a></li>
          <li><a href="/top-videos">Top Videos</a></li>
          <li><a href="/video-summary">Video Summary</a></li>
          <li><a href="/video-topic-summary">Video Topic Summary</a></li>
          <li><a href="/learning">Learning in Exercises</a></li>
          <li><a href="/real-time">Real-time Exercise Attempts</a></li>
          <li><a href="/exercise-summary">Exercise Summary</a></li>
          <li><a href="/badges">Badges</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Performance <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/is-ka-fast-yet">Is KA Fast Yet?</a></li>
          <li><a href="/gae_stats/daily_request_log_url_stats">Top URLs by Count</a></li>
          <li><a href="/gae_stats/daily_request_log_urlroute_stats">Top URL Routes by Count</a></li>
          <li><a href="/gae_stats/url_stats">Stats for One URL</a></li>
          <li><a href="/gae_stats/urlroute_stats">Stats for One URL Route</a></li>
          <li><a href="/webpagetest/stats">Webpagetest (client) stats</a></li>
          <li><a href="/gae_stats/dashboard_charts">Dashboard Charts</a></li>
          <li><a href="/gae_stats/instances">Instances</a></li>
          <li><a href="/gae_stats/memcache">Memcache</a></li>
          <li><a href="/gae_stats/billing_history">Billing History</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</div>

