<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">KA Dashboards</a>
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Growth <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/goals">Q3 Company Growth Goals</a></li>
          <li><a href="/growth">Active User Flows</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usage <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/exercises">Daily Exercises</a></li>
          <li><a href="/videos">Daily Videos</a></li>
          <li><a href="/learning">Learning in Exercises</a></li>
          <li><a href="/real-time">Real-time Exercise Attempts</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</div>

