body {
  background-color: #eee;
}

#chart {
  margin-top:5px;
  background-color: white;
  height:50%;
}

#graph-nav {
  margin-top:45px;
  height: 10%;
  padding: 1px;
}

.node rect {
  stroke: #000;
  fill: #fff;
}

.node text {
  font: 300 16px "Helvetica Neue";
}

.node:hover {
  cursor: pointer;
  opacity: 0.4;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#divs {
  padding: 1px;
  width: 99%;
  margin-left: 0.25%;
}

#ex-info {
  position:fixed;
  bottom:0px;
  height: 50px;
  overflow-x:scroll;
  overflow-y:hidden;
}

.card {
  display: inline;
  float:left;
  background-color:white;
  height:45px;
  width:12.5%;
}

.card-title {
  padding:2px;
  background-color:#aaa;
  font-size: 12px;
  font-style: bold;
}

.cover-list {
  background-color:#fefefe;
  padding: 2px;
  font-size: 10px;
  line-height: 1.2;
}