body {
  background-color: #eee;
}

#chart {
  margin-top:5px;
  background-color: white;
}

svg {
  cursor: move;
}

#graph-nav {
  margin-top:45px;
  height: 10%;
  padding: 1px;
}

.node rect {
}

.node text {
  font: 300 20px "Helvetica Neue";
}

.link:hover {
  cursor: auto;
}

.node:hover {
  cursor: pointer;
  opacity: 0.2;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}


#search {
  padding: 1px;
  width: 97%;
  margin-left: 0.25%;
}

#home {
  background-color: #ddd;
  padding: 3px;
  padding-left: 6px;
  float:right;
  width: 1.26%;
  margin-right: 0.25%;
  text-align: center
}

#home:active {
  background-color: #ccc;
}


#warning {
  width:800px;
  position:absolute;
  left:50%;
  top:50%;
  margin:0px 0 0 -400px;
  text-align: center;
  font-style: italic;
  font: "Helvetica";
  display: none;
  font-size: 50px;
  opacity: 0.1;
}