/* TODO(david): Ensure this conforms to Khan's CSS guidelines, or use LESS. */

#add-series-buttons {
    opacity: 0.7;
}

#add-series-buttons:hover {
    opacity: 1.0;
}

.alert-gray {
    background-color: #eee;
    color: #333;
    border-color: #ddd;
}
