/* TODO(david): Ensure this conforms to Khan's CSS guidelines, or use LESS. */

body {
    background: white url(/static/img/third_party/bg-white.png);
}

.alert-gray {
    background-color: #eee;
    color: #333;
    border-color: #ddd;
}

.stacks-select {
    width: 80px;
}
