<!DOCTYPE html>
<html>
<!--
A dashboard of webpagetest page-loading statistics.
http://www.webpagetest.org
-->

<head>
<link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/jquery/flick/jquery-ui-1.8.20.custom.css">
<style type="text/css">
    #input-selector select { vertical-align:baseline; width: auto; }

    #stat-selector input { display:inline; margin-right:0.3em; }
    #stat-selector label { display:inline; margin-right:1em; white-space:nowrap; }
</style>
</head>

<body>

{% include 'navbar.html' %}

<div class="growth-summary" style="margin: 40px auto;">
    <form id="input-selector">
        <!-- TODO(chris): mark proper checkboxes as "selected" -->
        <h2>Webpagetest Statistics for 
        <select name="url" onchange="this.form.submit();">
{% for url in urls %}
            <option value="{{url}}" {% if url == current_url %}selected{% endif %}>{{url}}</option>
{% endfor %}
        </select>
	from
        <select name="browser" onchange="this.form.submit();">
{% for browser_and_loc in browser_locations %}
            <option value="{{browser_and_loc}}" {% if browser_and_loc == current_browser_and_loc %}selected{% endif %}>{{browser_and_loc}}</option>
{% endfor %}
        </select>
	(<select name="connectivity" onchange="this.form.submit();">
{% for connectivity in connectivities %}
            <option value="{{connectivity}}" {% if connectivity == current_connectivity %}selected{% endif %}>{{connectivity}}</option>
{% endfor %}
        </select>)
        <select name="cached" onchange="this.form.submit();">
            <option value="1" {% if current_cached == 1 %}selected{% endif %}>[use browser cache]</option>
            <option value="0" {% if current_cached == 0 %}selected{% endif %}>[ignore browser cache]</option>
        </select>
	</h2>
    </form>
    <form id="stat-selector">
        <!-- TODO(chris): mark proper checkboxes as "selected" -->
{% for field in fields %}
        <label><input type="checkbox" data-col="{{loop.index}}" {% if field == "Doc Complete Time (ms)" %}checked{% endif %}>{{field}}</label>
{% endfor %}
    </form>
    <div id='chart_div' style='width: 800px; height: 740px;'></div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/third_party/jquery-ui-1.8.20.custom.min.js"></script>
<script src="/static/js/third_party/underscore-min.js"></script>
<script src="/static/js/third_party/bootstrap-dropdown.js"></script>

<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>
(function() {
    var data = null,
        chart = null;

    google.load('visualization', '1', {'packages':['annotatedtimeline']});
    google.setOnLoadCallback(loadDataTable);

    function drawChart() {
        var view = new google.visualization.DataView(data),
            lastRow = data.getNumberOfRows() - 1,
            columns = [];

        _.each(statSelector.querySelectorAll('input'), function(input) {
            if (input.checked) {
                var cols = input.getAttribute("data-col").split(",").map(Number);
                columns = columns.concat(cols);
            }
        });

        if (lastRow >= 0) {
            // Sort the legend to match top-to-bottom of the right of the graph.
            columns = columns.sort(function(a, b) {
                return data.getValue(lastRow, b) - data.getValue(lastRow, a);
            });
        }

        columns = _.uniq(columns, true);
        if (columns.length) {
            // We must always start with the date.
            columns.unshift(0);
            view.setColumns(columns);
            // TODO(chris): is it faster to use showDataColumns() on the
            // AnnotatedTimeline rather than a new DataView each time?
            chart.draw(view, {
                displayAnnotations: true,
                legendPosition: "newRow"
            });
        }
    }

    function loadDataTable() {
        data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
{% for field in fields %}
        data.addColumn('number', '{{field}}');
{% endfor %}
        data.addRows([
{% for row in webpagetest_stats %}
            [new Date({{row['Date'][6:10]}}, {{row['Date'][0:2]|int - 1}}, {{row['Date'][3:5]}}),
             {% for field in fields %}{{row[field]}},{% endfor %}
            ],
{% endfor %}
        ]);

        chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        drawChart();
    }

    var statSelector = document.getElementById("stat-selector");
    statSelector.onchange = function(e) {
        drawChart();
    };
})();
</script>

</body>
</html>
