<!DOCTYPE html>
<html>
<!--
A dashboard of webpagetest page-loading statistics.
http://www.webpagetest.org
-->

<head>
<link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/third_party/jquery/flick/jquery-ui-1.8.20.custom.css">
<style type="text/css">
    #input-selector select { vertical-align:baseline; width: auto; }

    #field-selector input { display:inline; margin-right:0.3em; }
    #field-selector label { display:inline; margin-right:1em; white-space:nowrap; }
</style>
</head>

<body>

{% include 'navbar.html' %}

<div class="growth-summary" style="margin: 40px auto;">
    <form id="input-selector">
        <!-- TODO(chris): mark proper checkboxes as "selected" -->
        <h2>Webpagetest Statistics

{% if stat_current != "(all)" %}
        of
        <select name="stat" onchange="this.form.submit();">
{% for stat in stat_all %}
            <option value="{{stat}}" {% if stat == stat_current %}selected{% endif %}>{{stat}}</option>
{% endfor %}
            <option value="(all)">(all)</option>
        </select>
{% endif %}


{% if url_current != "(all)" %}
        for 
        <select name="url" onchange="this.form.submit();">
{% for url in url_all %}
            <option value="{{url}}" {% if url == url_current %}selected{% endif %}>{{url}}</option>
{% endfor %}
            <option value="(all)">(all)</option>
        </select>
{% endif %}

{% if browser_and_loc_current != "(all)" %}
	from
        <select name="browser_and_loc" onchange="this.form.submit();">
{% for browser_and_loc in browser_and_loc_all %}
            <option value="{{browser_and_loc}}" {% if browser_and_loc == browser_and_loc_current %}selected{% endif %}>{{browser_and_loc}}</option>
{% endfor %}
            <option value="(all)">(all)</option>
        </select>
{% endif %}

{% if connectivity_current != "(all)" %}
	(<select name="connectivity" onchange="this.form.submit();">
{% for connectivity in connectivity_all %}
            <option value="{{connectivity}}" {% if connectivity == connectivity_current %}selected{% endif %}>{{connectivity}}</option>
{% endfor %}
            <option value="(all)">(all)</option>
        </select>)
{% endif %}

{% if cached_current != "(all)" %}
        <select name="cached" onchange="this.form.submit();">
            <option value="1" {% if cached_current == "1" %}selected{% endif %}>[use browser cache]</option>
            <option value="0" {% if cached_current == "0" %}selected{% endif %}>[ignore browser cache]</option>
            <option value="(all)">(all)</option>
        </select>
{% endif %}

	</h2>
    </form>
    <form id="field-selector">
        <!-- TODO(chris): mark proper checkboxes as "selected" -->
        <b>{{varying_field}}:</b>
{% for field in varying_field_values %}
        <label><input type="checkbox" data-col="{{loop.index}}" {% if field.default %}checked{% endif %}>{{field.name}}</label>
{% endfor %}
    </form>
    <div id='chart_div' style='width: 800px; height: 740px;'></div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/third_party/jquery-ui-1.8.20.custom.min.js"></script>
<script src="/static/js/third_party/underscore-min.js"></script>
<script src="/static/js/third_party/bootstrap-dropdown.js"></script>

<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>
(function() {
    var data = null,
        chart = null;

    google.load('visualization', '1', {'packages':['annotatedtimeline']});
    google.setOnLoadCallback(loadDataTable);

    function drawChart() {
        var view = new google.visualization.DataView(data),
            lastRow = data.getNumberOfRows() - 1,
            columns = [];

        _.each(fieldSelector.querySelectorAll('input'), function(input) {
            if (input.checked) {
                var cols = input.getAttribute("data-col").split(",").map(Number);
                columns = columns.concat(cols);
            }
        });

        if (lastRow >= 0) {
            // Sort the legend to match top-to-bottom of the right of the graph.
            columns = columns.sort(function(a, b) {
                return data.getValue(lastRow, b) - data.getValue(lastRow, a);
            });
        }

        columns = _.uniq(columns, true);
        if (columns.length) {
            // We must always start with the date.
            columns.unshift(0);
            view.setColumns(columns);
            // TODO(chris): is it faster to use showDataColumns() on the
            // AnnotatedTimeline rather than a new DataView each time?
            chart.draw(view, {
                displayAnnotations: true,
                legendPosition: "newRow"
            });
        }
    }

    function loadDataTable() {
        data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
{% for field in varying_field_values %}
        data.addColumn('number', '{{field.name}}');
{% endfor %}
        data.addRows([
{% for row in webpagetest_stats %}
            [new Date{{row['Date']}},
             {% for field in varying_field_values %}{{row[field.name]}},{% endfor %}
            ],
{% endfor %}
        ]);

        chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        drawChart();
    }

    var fieldSelector = document.getElementById("field-selector");
    fieldSelector.onchange = function(e) {
        drawChart();
    };
})();
</script>

</body>
</html>
